<div class="container">
  <h1> 투두리스트~~~~</h1>
  <%= form_for(@post, :remote => true) do |f| %>
    <%=f.text_field :content, class:"form-control"%>
    <input type="button" value="완료" class="submit">
  <% end %>
</div>

<div class="container father">
  <% @posts.reverse.each do |post|%>
    <div class="well">
        <%= post.content %>
    </div>
  <% end %>
</div>


<script>

  $(document).ready(function(){
      $('.submit').click(function(){
         var sending_content = $('.form-control').val();
        
        $.ajax({
          method: "POST",
          url: "/posts",
          dataType: "json",
          headers: {
              'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content'), // Optional
              'Content-Type': 'application/json'
          },
          data: JSON.stringify({ content: sending_content }),
        })
          .done(function( msg ) {
            $('<div class="well">' + sending_content + '</div>').prependTo('.father');
            $('.form-control').val('');
          });
           
      });

  });

</script>

